@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	::-webkit-scrollbar {
		width: 18px;
		border-left: 1px solid var(--border);
		background: transparent;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--surface-light);
		border-radius: 100px;
		border: 5px solid transparent;
		background-clip: content-box;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: var(--border);
		border-radius: 100px;
		border: 5px solid transparent;
		background-clip: content-box;
	}
}

@layer base {
	// * {
	// 	cursor: default !important;
	// }

	:root {
		--background: #f5f5f7;
		--border: #ebebeb;
		--border-focus: #cfcfcf;
		--surface-dark: #f3f3f3;
		--surface-medium: #f8f8f8;
		--surface-light: #ffffff;
		--text-extra-dark: #0e0e10;
		--text-dark: #161619;
		--text-medium: #6d717f;
		--text-light: #9ea3ab;

		--default-radius: 0.325rem;
		--small-radius: 0.25rem;
	}

	.dark {
		--background: #080808;
		--border: #1f1f1f;
		--border-focus: #2e3036;
		--surface-dark: #161718;
		--surface-medium: #131415;
		--surface-light: #0f1011;
		--text-dark: #ffffff;
		--text-medium: #949496;
		--text-light: #575758;
	}
}
